In [1]:
import pandas as pd
import numpy as np

In [2]:
MCI = pd.read_csv('C:\\Users\\Admin\\OneDrive\\Documents\\Major_Crime_Indicators_Open_Data.csv')

In [3]:
MCI

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.425896,43.757346,1,GO-20141262074,2014/01/01 05:00:00+00,1998/06/01 04:00:00+00,2014,January,1,1,...,1480,110,Administering Noxious Thing,Assault,38,Lansing-Westgate,38,Lansing-Westgate (38),-79.425896,43.757346
1,-79.350229,43.646293,2,GO-20141260701,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,2120,200,B&E,Break and Enter,70,South Riverdale,70,South Riverdale (70),-79.350229,43.646293
2,-79.376497,43.666423,3,GO-20141260889,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,74,North St.James Town,74,North St.James Town (74),-79.376497,43.666423
3,-85.488744,0.000000,4,GO-20141260973,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,2130,210,Theft Over,Theft Over,NSA,NSA,NSA,NSA,-85.488744,0.000000
4,-79.344839,43.678946,5,GO-20141261050,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,69,Blake-Jones,66,Danforth (66),-79.344839,43.678946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323291,-79.301740,43.736102,323292,GO-20222554300,2022/12/31 05:00:00+00,2022/12/22 05:00:00+00,2022,December,31,365,...,2120,220,B&E W'Intent,Break and Enter,119,Wexford/Maryvale,119,Wexford/Maryvale (119),-79.301740,43.736102
323292,-79.258639,43.828794,323293,GO-20222557893,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,...,2120,200,B&E,Break and Enter,130,Milliken,130,Milliken (130),-79.258639,43.828794
323293,-79.425645,43.701404,323294,GO-20222559486,2022/12/31 05:00:00+00,2022/12/22 05:00:00+00,2022,December,31,365,...,1430,100,Assault,Assault,102,Forest Hill North,102,Forest Hill North (102),-79.425645,43.701404
323294,-79.385170,43.672134,323295,GO-20222557956,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,...,1430,100,Assault,Assault,98,Rosedale-Moore Park,98,Rosedale-Moore Park (98),-79.385170,43.672134
323295,-79.248081,43.736690,323296,GO-20222558010,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,...,2120,200,B&E,Break and Enter,138,Eglinton East,138,Eglinton East (138),-79.248081,43.736690

> Data Cleaning

In [4]:
# find all column values with 0
df = MCI.loc[:, MCI.eq(0).any()]
df

                Y  REPORT_HOUR  OCC_HOUR  LAT_WGS84
0       43.757346           12        12  43.757346
1       43.646293            3         3  43.646293
2       43.666423            4         4  43.666423
3        0.000000            4         4   0.000000
4       43.678946            4         4  43.678946
...           ...          ...       ...        ...
323291  43.736102           10         8  43.736102
323292  43.828794            3         3  43.828794
323293  43.701404           10        16  43.701404
323294  43.672134            4         4  43.672134
323295  43.736690            4         4  43.736690

[323296 rows x 4 columns]

In [5]:
# find any null values
MCI.count()

X                    323296
Y                    323296
OBJECTID             323296
EVENT_UNIQUE_ID      323296
REPORT_DATE          323296
OCC_DATE             323296
REPORT_YEAR          323296
REPORT_MONTH         323296
REPORT_DAY           323296
REPORT_DOY           323296
REPORT_DOW           323296
REPORT_HOUR          323296
OCC_YEAR             323191
OCC_MONTH            323191
OCC_DAY              323191
OCC_DOY              323191
OCC_DOW              323191
OCC_HOUR             323296
DIVISION             323296
LOCATION_TYPE        323296
PREMISES_TYPE        323296
UCR_CODE             323296
UCR_EXT              323296
OFFENCE              323296
MCI_CATEGORY         323296
HOOD_158             323296
NEIGHBOURHOOD_158    323296
HOOD_140             323296
NEIGHBOURHOOD_140    323296
LONG_WGS84           323296
LAT_WGS84            323296
dtype: int64

In [6]:
# check for blank values ( they're counted as valid non-null values)

MCI_blanks_counted = MCI.replace('', float('nan'))
count_result = MCI_blanks_counted.count()

print(count_result)

X                    323296
Y                    323296
OBJECTID             323296
EVENT_UNIQUE_ID      323296
REPORT_DATE          323296
OCC_DATE             323296
REPORT_YEAR          323296
REPORT_MONTH         323296
REPORT_DAY           323296
REPORT_DOY           323296
REPORT_DOW           323296
REPORT_HOUR          323296
OCC_YEAR             323191
OCC_MONTH            323191
OCC_DAY              323191
OCC_DOY              323191
OCC_DOW              323191
OCC_HOUR             323296
DIVISION             323296
LOCATION_TYPE        323296
PREMISES_TYPE        323296
UCR_CODE             323296
UCR_EXT              323296
OFFENCE              323296
MCI_CATEGORY         323296
HOOD_158             323296
NEIGHBOURHOOD_158    323296
HOOD_140             323296
NEIGHBOURHOOD_140    323296
LONG_WGS84           323296
LAT_WGS84            323296
dtype: int64

In [7]:
#> no additional blank values other than those seen previously. Will now fill the OCC_year,hour,month etc based on OCC_DATE

In [8]:

MCI['OCC_DATE'] = pd.to_datetime(MCI['OCC_DATE'])

# Fill empty values in other OCC columns with corresponding parts from OCC_DATE
MCI['OCC_YEAR'] = MCI['OCC_YEAR'].fillna(MCI['OCC_DATE'].dt.year)
MCI['OCC_MONTH'] = MCI['OCC_MONTH'].fillna(MCI['OCC_DATE'].dt.month)
MCI['OCC_DAY'] = MCI['OCC_DAY'].fillna(MCI['OCC_DATE'].dt.day)
MCI['OCC_DOY'] = MCI['OCC_DOY'].fillna(MCI['OCC_DATE'].dt.dayofyear)
MCI['OCC_DOW'] = MCI['OCC_DOW'].fillna(MCI['OCC_DATE'].dt.dayofweek)

# Display the updated DataFrame
print(MCI)

                X          Y  OBJECTID EVENT_UNIQUE_ID  \
0      -79.425896  43.757346         1  GO-20141262074
1      -79.350229  43.646293         2  GO-20141260701
2      -79.376497  43.666423         3  GO-20141260889
3      -85.488744   0.000000         4  GO-20141260973
4      -79.344839  43.678946         5  GO-20141261050
...           ...        ...       ...             ...
323291 -79.301740  43.736102    323292  GO-20222554300
323292 -79.258639  43.828794    323293  GO-20222557893
323293 -79.425645  43.701404    323294  GO-20222559486
323294 -79.385170  43.672134    323295  GO-20222557956
323295 -79.248081  43.736690    323296  GO-20222558010

                   REPORT_DATE                  OCC_DATE  REPORT_YEAR  \
0       2014/01/01 05:00:00+00 1998-06-01 04:00:00+00:00         2014
1       2014/01/01 05:00:00+00 2014-01-01 05:00:00+00:00         2014
2       2014/01/01 05:00:00+00 2014-01-01 05:00:00+00:00         2014
3       2014/01/01 05:00:00+00 2014-01-01 05:00:00+00:00         2014
4       2014/01/01 05:00:00+00 2014-01-01 05:00:00+00:00         2014
...                        ...                       ...          ...
323291  2022/12/31 05:00:00+00 2022-12-22 05:00:00+00:00         2022
323292  2022/12/31 05:00:00+00 2022-12-31 05:00:00+00:00         2022
323293  2022/12/31 05:00:00+00 2022-12-22 05:00:00+00:00         2022
323294  2022/12/31 05:00:00+00 2022-12-31 05:00:00+00:00         2022
323295  2022/12/31 05:00:00+00 2022-12-31 05:00:00+00:00         2022

       REPORT_MONTH  REPORT_DAY  REPORT_DOY  ... UCR_CODE  UCR_EXT  \
0           January           1           1  ...     1480      110
1           January           1           1  ...     2120      200
2           January           1           1  ...     1430      100
3           January           1           1  ...     2130      210
4           January           1           1  ...     1430      100
...             ...         ...         ...  ...      ...      ...
323291     December          31         365  ...     2120      220
323292     December          31         365  ...     2120      200
323293     December          31         365  ...     1430      100
323294     December          31         365  ...     1430      100
323295     December          31         365  ...     2120      200

                            OFFENCE     MCI_CATEGORY  HOOD_158  \
0       Administering Noxious Thing          Assault        38
1                               B&E  Break and Enter        70
2                           Assault          Assault        74
3                        Theft Over       Theft Over       NSA
4                           Assault          Assault        69
...                             ...              ...       ...
323291                 B&E W'Intent  Break and Enter       119
323292                          B&E  Break and Enter       130
323293                      Assault          Assault       102
323294                      Assault          Assault        98
323295                          B&E  Break and Enter       138

          NEIGHBOURHOOD_158 HOOD_140         NEIGHBOURHOOD_140 LONG_WGS84  \
0          Lansing-Westgate       38     Lansing-Westgate (38) -79.425896
1           South Riverdale       70      South Riverdale (70) -79.350229
2       North St.James Town       74  North St.James Town (74) -79.376497
3                       NSA      NSA                       NSA -85.488744
4               Blake-Jones       66             Danforth (66) -79.344839
...                     ...      ...                       ...        ...
323291     Wexford/Maryvale      119    Wexford/Maryvale (119) -79.301740
323292             Milliken      130            Milliken (130) -79.258639
323293    Forest Hill North      102   Forest Hill North (102) -79.425645
323294  Rosedale-Moore Park       98  Rosedale-Moore Park (98) -79.385170
323295        Eglinton East      138       Eglinton East (138) -79.248081

        LAT_WGS84
0       43.757346
1       43.646293
2       43.666423
3        0.000000
4       43.678946
...           ...
323291  43.736102
323292  43.828794
323293  43.701404
323294  43.672134
323295  43.736690

[323296 rows x 31 columns]

In [9]:
#verify
MCI.count()

X                    323296
Y                    323296
OBJECTID             323296
EVENT_UNIQUE_ID      323296
REPORT_DATE          323296
OCC_DATE             323296
REPORT_YEAR          323296
REPORT_MONTH         323296
REPORT_DAY           323296
REPORT_DOY           323296
REPORT_DOW           323296
REPORT_HOUR          323296
OCC_YEAR             323296
OCC_MONTH            323296
OCC_DAY              323296
OCC_DOY              323296
OCC_DOW              323296
OCC_HOUR             323296
DIVISION             323296
LOCATION_TYPE        323296
PREMISES_TYPE        323296
UCR_CODE             323296
UCR_EXT              323296
OFFENCE              323296
MCI_CATEGORY         323296
HOOD_158             323296
NEIGHBOURHOOD_158    323296
HOOD_140             323296
NEIGHBOURHOOD_140    323296
LONG_WGS84           323296
LAT_WGS84            323296
dtype: int64

In [10]:
# fill zero values on )CC_HOUR column w/ correct hours just incase the 0 is not the time but represents a null
# Replace zero values in OCC_HOUR with corresponding hour extract from OCC_DATE
MCI.loc[MCI['OCC_HOUR'] == 0, 'OCC_HOUR'] = MCI['OCC_DATE'].dt.hour

In [11]:
# check for uniqueness of unique_ids row
is_unique = MCI['EVENT_UNIQUE_ID'].is_unique
is_unique

False

In [12]:
#how many duplicate uniq_ids do we have?
MCI['EVENT_UNIQUE_ID'].value_counts()

GO-20151785704    24
GO-201967831      23
GO-20222426282    20
GO-2015840772     16
GO-20222160871    15
                  ..
GO-20171098653     1
GO-20171101346     1
GO-20171099554     1
GO-20171101130     1
GO-20222558010     1
Name: EVENT_UNIQUE_ID, Length: 281699, dtype: int64

# checked dataset documentation and UNIQUE_EVENT _ID is just the offence number , not primary key so duplicates are fine

In [13]:

# Replace zero values in REPORT_HOUR with corresponding hour extract from REPORT_DATE
MCI['REPORT_DATE']=pd.to_datetime(MCI['REPORT_DATE'])
MCI.loc[MCI['REPORT_HOUR'] == 0, 'REPORT_HOUR'] = MCI['REPORT_DATE'].dt.hour

In [14]:
half_MCI = MCI[['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
               'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY',
               'REPORT_DOW', 'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY',
               'OCC_DOY', 'OCC_DOW', 'OCC_HOUR']]

# Display the new DataFrame
print(half_MCI)

                X          Y  OBJECTID EVENT_UNIQUE_ID  \
0      -79.425896  43.757346         1  GO-20141262074
1      -79.350229  43.646293         2  GO-20141260701
2      -79.376497  43.666423         3  GO-20141260889
3      -85.488744   0.000000         4  GO-20141260973
4      -79.344839  43.678946         5  GO-20141261050
...           ...        ...       ...             ...
323291 -79.301740  43.736102    323292  GO-20222554300
323292 -79.258639  43.828794    323293  GO-20222557893
323293 -79.425645  43.701404    323294  GO-20222559486
323294 -79.385170  43.672134    323295  GO-20222557956
323295 -79.248081  43.736690    323296  GO-20222558010

                     REPORT_DATE                  OCC_DATE  REPORT_YEAR  \
0      2014-01-01 05:00:00+00:00 1998-06-01 04:00:00+00:00         2014
1      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
2      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
3      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
4      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
...                          ...                       ...          ...
323291 2022-12-31 05:00:00+00:00 2022-12-22 05:00:00+00:00         2022
323292 2022-12-31 05:00:00+00:00 2022-12-31 05:00:00+00:00         2022
323293 2022-12-31 05:00:00+00:00 2022-12-22 05:00:00+00:00         2022
323294 2022-12-31 05:00:00+00:00 2022-12-31 05:00:00+00:00         2022
323295 2022-12-31 05:00:00+00:00 2022-12-31 05:00:00+00:00         2022

       REPORT_MONTH  REPORT_DAY  REPORT_DOY  REPORT_DOW  REPORT_HOUR  \
0           January           1           1  Wednesday            12
1           January           1           1  Wednesday             3
2           January           1           1  Wednesday             4
3           January           1           1  Wednesday             4
4           January           1           1  Wednesday             4
...             ...         ...         ...         ...          ...
323291     December          31         365  Saturday             10
323292     December          31         365  Saturday              3
323293     December          31         365  Saturday             10
323294     December          31         365  Saturday              4
323295     December          31         365  Saturday              4

        OCC_YEAR OCC_MONTH  OCC_DAY  OCC_DOY     OCC_DOW  OCC_HOUR
0         1998.0         6      1.0    152.0           0        12
1         2014.0   January      1.0      1.0  Wednesday          3
2         2014.0   January      1.0      1.0  Wednesday          4
3         2014.0   January      1.0      1.0  Wednesday          4
4         2014.0   January      1.0      1.0  Wednesday          4
...          ...       ...      ...      ...         ...       ...
323291    2022.0  December     22.0    356.0  Thursday           8
323292    2022.0  December     31.0    365.0  Saturday           3
323293    2022.0  December     22.0    356.0  Thursday          16
323294    2022.0  December     31.0    365.0  Saturday           4
323295    2022.0  December     31.0    365.0  Saturday           4

[323296 rows x 18 columns]

In [15]:
#check if the column types are correct
print(half_MCI.dtypes)

X                              float64
Y                              float64
OBJECTID                         int64
EVENT_UNIQUE_ID                 object
REPORT_DATE        datetime64[ns, UTC]
OCC_DATE           datetime64[ns, UTC]
REPORT_YEAR                      int64
REPORT_MONTH                    object
REPORT_DAY                       int64
REPORT_DOY                       int64
REPORT_DOW                      object
REPORT_HOUR                      int64
OCC_YEAR                       float64
OCC_MONTH                       object
OCC_DAY                        float64
OCC_DOY                        float64
OCC_DOW                         object
OCC_HOUR                         int64
dtype: object

> ADDING THE TORONTO NEIGHBOURHOOD DEMOGRAPHICS DATASET

In [16]:
# UPLOAD THE CSV
to_demog = pd.read_csv('C:\\Users\\Admin\\OneDrive\\Documents\\neighbourhood-profiles-2016-140-model.csv')
to_demog

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,2379,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Movers,"1,040,015","8,610","8,775","3,130","14,735",...,"8,070","7,020","19,235","3,920","2,710","4,700","5,450","6,195","11,400","4,290"
2379,2380,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Non-migrants,"639,060","5,445","5,610","2,200","8,340",...,"4,305","4,740","11,975","2,920","2,100","3,355","3,020","3,895","6,435","2,940"
2380,2381,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Migrants,"400,950","3,170","3,145",925,"6,390",...,"3,765","2,270","7,260",985,620,"1,350","2,425","2,310","4,965","1,345"
2381,2382,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Interprovincial migrants,"42,985",135,220,70,"1,310",...,475,150,335,250,85,210,290,325,195,135
2382,2383,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,External migrants,"216,835","2,280","2,170",245,"2,460",...,"2,220","1,175","5,540",395,220,575,"1,160",955,"3,285",775

In [17]:
# create a new column to find percentage of neighbourhood that falls under low-income classification to then link it to crime rates
# this will be done in multiple steps starting with creating lists to house the population info 
# or create a function that loops thru the total pop for each nieghbour hood and the amt of low income, then divides it to creat a column then moves to the next coulmn number

In [18]:
#create threshold toronot  lim pernectange

In [19]:
#create a list for neighbourhood names
neighbourhood_names = to_demog.columns[6:].tolist()
neighbourhood_names

['Agincourt North',
 'Agincourt South-Malvern West',
 'Alderwood',
 'Annex',
 'Banbury-Don Mills',
 'Bathurst Manor',
 'Bay Street Corridor',
 'Bayview Village',
 'Bayview Woods-Steeles',
 'Bedford Park-Nortown',
 'Beechborough-Greenbrook',
 'Bendale',
 'Birchcliffe-Cliffside',
 'Black Creek',
 'Blake-Jones',
 'Briar Hill-Belgravia',
 'Bridle Path-Sunnybrook-York Mills',
 'Broadview North',
 'Brookhaven-Amesbury',
 'Cabbagetown-South St. James Town',
 'Caledonia-Fairbank',
 'Casa Loma',
 'Centennial Scarborough',
 'Church-Yonge Corridor',
 'Clairlea-Birchmount',
 'Clanton Park',
 'Cliffcrest',
 'Corso Italia-Davenport',
 'Danforth',
 'Danforth East York',
 'Don Valley Village',
 'Dorset Park',
 'Dovercourt-Wallace Emerson-Junction',
 'Downsview-Roding-CFB',
 'Dufferin Grove',
 'East End-Danforth',
 'Edenbridge-Humber Valley',
 'Eglinton East',
 'Elms-Old Rexdale',
 'Englemount-Lawrence',
 'Eringate-Centennial-West Deane',
 'Etobicoke West Mall',
 'Flemingdon Park',
 'Forest Hill North',
 'Forest Hill South',
 'Glenfield-Jane Heights',
 'Greenwood-Coxwell',
 'Guildwood',
 'Henry Farm',
 'High Park North',
 'High Park-Swansea',
 'Highland Creek',
 'Hillcrest Village',
 'Humber Heights-Westmount',
 'Humber Summit',
 'Humbermede',
 'Humewood-Cedarvale',
 'Ionview',
 'Islington-City Centre West',
 'Junction Area',
 'Keelesdale-Eglinton West',
 'Kennedy Park',
 'Kensington-Chinatown',
 'Kingsview Village-The Westway',
 'Kingsway South',
 'Lambton Baby Point',
 "L'Amoreaux",
 'Lansing-Westgate',
 'Lawrence Park North',
 'Lawrence Park South',
 'Leaside-Bennington',
 'Little Portugal',
 'Long Branch',
 'Malvern',
 'Maple Leaf',
 'Markland Wood',
 'Milliken',
 'Mimico (includes Humber Bay Shores)',
 'Morningside',
 'Moss Park',
 'Mount Dennis',
 'Mount Olive-Silverstone-Jamestown',
 'Mount Pleasant East',
 'Mount Pleasant West',
 'New Toronto',
 'Newtonbrook East',
 'Newtonbrook West',
 'Niagara',
 'North Riverdale',
 'North St. James Town',
 'Oakridge',
 'Oakwood Village',
 "O'Connor-Parkview",
 'Old East York',
 'Palmerston-Little Italy',
 'Parkwoods-Donalda',
 'Pelmo Park-Humberlea',
 'Playter Estates-Danforth',
 'Pleasant View',
 'Princess-Rosethorn',
 'Regent Park',
 'Rexdale-Kipling',
 'Rockcliffe-Smythe',
 'Roncesvalles',
 'Rosedale-Moore Park',
 'Rouge',
 'Runnymede-Bloor West Village',
 'Rustic',
 'Scarborough Village',
 'South Parkdale',
 'South Riverdale',
 'St.Andrew-Windfields',
 'Steeles',
 'Stonegate-Queensway',
 "Tam O'Shanter-Sullivan",
 'Taylor-Massey',
 'The Beaches',
 'Thistletown-Beaumond Heights',
 'Thorncliffe Park',
 'Trinity-Bellwoods',
 'University',
 'Victoria Village',
 'Waterfront Communities-The Island',
 'West Hill',
 'West Humber-Clairville',
 'Westminster-Branson',
 'Weston',
 'Weston-Pelham Park',
 'Wexford/Maryvale',
 'Willowdale East',
 'Willowdale West',
 'Willowridge-Martingrove-Richview',
 'Woburn',
 'Woodbine Corridor',
 'Woodbine-Lumsden',
 'Wychwood',
 'Yonge-Eglinton',
 'Yonge-St.Clair',
 'York University Heights',
 'Yorkdale-Glen Park']

In [20]:
# create list of neighbourhood numbers
row = to_demog.iloc[[0]]

# Initialize the list to store the coordinate values
neigh_nums = []

# Iterate over the neighborhood name columns
for name in neighbourhood_names:
    value = row[name].values[0]  # Get the coordinate value for the specific column
    neigh_nums.append(value)

print(neigh_nums)

['129', '128', '20', '95', '42', '34', '76', '52', '49', '39', '112', '127', '122', '24', '69', '108', '41', '57', '30', '71', '109', '96', '133', '75', '120', '33', '123', '92', '66', '59', '47', '126', '93', '26', '83', '62', '9', '138', '5', '32', '11', '13', '44', '102', '101', '25', '65', '140', '53', '88', '87', '134', '48', '8', '21', '22', '106', '125', '14', '90', '110', '124', '78', '6', '15', '114', '117', '38', '105', '103', '56', '84', '19', '132', '29', '12', '130', '17', '135', '73', '115', '2', '99', '104', '18', '50', '36', '82', '68', '74', '121', '107', '54', '58', '80', '45', '23', '67', '46', '10', '72', '4', '111', '86', '98', '131', '89', '28', '139', '85', '70', '40', '116', '16', '118', '61', '63', '3', '55', '81', '79', '43', '77', '136', '1', '35', '113', '91', '119', '51', '37', '7', '137', '64', '60', '94', '100', '97', '27', '31']

In [21]:
# CREATE a list for row "Prevalence of low income based on the Low-income measure, after tax (LIM-AT) (%)" for each neigbourhood 
#to find percentage of lowincome population

row = to_demog.iloc[[1131]]

lim_percent = []

#iterate
for name in neighbourhood_names:
    value = row[name].values[0]
    lim_percent.append(value)
    
print(lim_percent)

['29.1', '29.5', '9.4', '14.8', '16.1', '19.4', '42.5', '29.9', '27.5', '8.9', '40.7', '31.7', '16.4', '46.2', '28.2', '20.1', '11.9', '28.1', '35.6', '20.3', '18.2', '12.3', '9.3', '32.7', '28.9', '14.6', '24.6', '14.2', '9.7', '14.2', '30.9', '31.7', '19', '28.1', '19.9', '18.2', '12.6', '38.8', '36.2', '24.2', '14.9', '28.5', '49', '15.7', '11.2', '40.7', '20.9', '9.4', '35.1', '14.5', '11.8', '16.2', '26.6', '23.7', '31.6', '33.4', '12.2', '32.7', '21.9', '12.7', '22.6', '36.9', '36.5', '39.6', '4.1', '23.3', '33.2', '14', '4.7', '6', '6', '19.3', '18.8', '29.9', '22.2', '10.7', '30.3', '21.3', '35.8', '49.8', '36.6', '39.3', '7.2', '24.7', '26', '31.2', '29.3', '22', '8.2', '47.9', '54.6', '21', '32.3', '15.2', '11.3', '29.2', '15.3', '7', '23.8', '9.4', '57.9', '27.9', '31.4', '18.4', '9.1', '14.7', '5.5', '48.7', '47.4', '37', '20.2', '21.2', '27.1', '12.9', '31.9', '43.6', '7', '27.3', '60.1', '13.4', '16.1', '35.3', '25.2', '36.4', '21.6', '29', '39.7', '25.4', '28.3', '35.4', '22.2', '24.1', '37.1', '14.3', '15.5', '13.2', '9.5', '11.9', '32.8', '26.3']

In [22]:
# create a dictionary from both lists

neigh_LIM_dict = dict(zip(neigh_nums,lim_percent))
neigh_LIM_dict

{'129': '29.1',
 '128': '29.5',
 '20': '9.4',
 '95': '14.8',
 '42': '16.1',
 '34': '19.4',
 '76': '42.5',
 '52': '29.9',
 '49': '27.5',
 '39': '8.9',
 '112': '40.7',
 '127': '31.7',
 '122': '16.4',
 '24': '46.2',
 '69': '28.2',
 '108': '20.1',
 '41': '11.9',
 '57': '28.1',
 '30': '35.6',
 '71': '20.3',
 '109': '18.2',
 '96': '12.3',
 '133': '9.3',
 '75': '32.7',
 '120': '28.9',
 '33': '14.6',
 '123': '24.6',
 '92': '14.2',
 '66': '9.7',
 '59': '14.2',
 '47': '30.9',
 '126': '31.7',
 '93': '19',
 '26': '28.1',
 '83': '19.9',
 '62': '18.2',
 '9': '12.6',
 '138': '38.8',
 '5': '36.2',
 '32': '24.2',
 '11': '14.9',
 '13': '28.5',
 '44': '49',
 '102': '15.7',
 '101': '11.2',
 '25': '40.7',
 '65': '20.9',
 '140': '9.4',
 '53': '35.1',
 '88': '14.5',
 '87': '11.8',
 '134': '16.2',
 '48': '26.6',
 '8': '23.7',
 '21': '31.6',
 '22': '33.4',
 '106': '12.2',
 '125': '32.7',
 '14': '21.9',
 '90': '12.7',
 '110': '22.6',
 '124': '36.9',
 '78': '36.5',
 '6': '39.6',
 '15': '4.1',
 '114': '23.3',
 '117': '33.2',
 '38': '14',
 '105': '4.7',
 '103': '6',
 '56': '6',
 '84': '19.3',
 '19': '18.8',
 '132': '29.9',
 '29': '22.2',
 '12': '10.7',
 '130': '30.3',
 '17': '21.3',
 '135': '35.8',
 '73': '49.8',
 '115': '36.6',
 '2': '39.3',
 '99': '7.2',
 '104': '24.7',
 '18': '26',
 '50': '31.2',
 '36': '29.3',
 '82': '22',
 '68': '8.2',
 '74': '47.9',
 '121': '54.6',
 '107': '21',
 '54': '32.3',
 '58': '15.2',
 '80': '11.3',
 '45': '29.2',
 '23': '15.3',
 '67': '7',
 '46': '23.8',
 '10': '9.4',
 '72': '57.9',
 '4': '27.9',
 '111': '31.4',
 '86': '18.4',
 '98': '9.1',
 '131': '14.7',
 '89': '5.5',
 '28': '48.7',
 '139': '47.4',
 '85': '37',
 '70': '20.2',
 '40': '21.2',
 '116': '27.1',
 '16': '12.9',
 '118': '31.9',
 '61': '43.6',
 '63': '7',
 '3': '27.3',
 '55': '60.1',
 '81': '13.4',
 '79': '16.1',
 '43': '35.3',
 '77': '25.2',
 '136': '36.4',
 '1': '21.6',
 '35': '29',
 '113': '39.7',
 '91': '25.4',
 '119': '28.3',
 '51': '35.4',
 '37': '22.2',
 '7': '24.1',
 '137': '37.1',
 '64': '14.3',
 '60': '15.5',
 '94': '13.2',
 '100': '9.5',
 '97': '11.9',
 '27': '32.8',
 '31': '26.3'}

In [23]:
# loop thru HOOD_140 to create a list of the corresponding LIM values for each neigbourhood , then add the list as a column to MCI

lowinc_list = []
for value in MCI['HOOD_140']:
    if value in neigh_LIM_dict:
        lowinc_list.append(neigh_LIM_dict[value])
    else:
        lowinc_list.append("unknown")

In [24]:
lowinc_list

['14',
 '20.2',
 '47.9',
 'unknown',
 '9.7',
 '25.2',
 '31.7',
 'unknown',
 'unknown',
 '13.4',
 '14.8',
 '60.1',
 '14.7',
 '14.2',
 '19',
 '9.4',
 '36.4',
 '36.5',
 '21',
 '13.4',
 '32.8',
 '29.3',
 '42.5',
 '13.4',
 '26.6',
 '43.6',
 '37',
 '57.9',
 '14.8',
 '32.3',
 '32.3',
 '13.2',
 '8.2',
 '42.5',
 '28.1',
 '36.9',
 '16.4',
 '39.7',
 '14.8',
 '32.7',
 '22.2',
 '39.7',
 '24.7',
 '43.6',
 '36.5',
 '19.3',
 '30.3',
 '35.4',
 '14.2',
 '25.2',
 '14.9',
 '36.4',
 '37',
 '15.2',
 '25.4',
 '37.1',
 '28.9',
 '36.6',
 '14.8',
 '14.7',
 '32.7',
 '31.7',
 '29.2',
 '36.4',
 '9.1',
 '28.1',
 '29.9',
 '35.8',
 '36.5',
 '35.3',
 '24.6',
 '21.9',
 '28.9',
 '31.7',
 '54.6',
 '42.5',
 '25.2',
 '9.5',
 '14.7',
 '20.2',
 '21.9',
 '32.8',
 '9.5',
 '21.3',
 '22.2',
 '22.2',
 '13.2',
 '25.2',
 '25.2',
 '14.7',
 '28.2',
 '4.7',
 'unknown',
 '13.4',
 '60.1',
 '31.4',
 '20.3',
 '14.8',
 '25.2',
 '46.2',
 '37',
 '19.3',
 '42.5',
 '11.3',
 '37.1',
 '32.7',
 '28.5',
 '35.4',
 '35.4',
 '48.7',
 '21',
 '49.8',
 '31.4',
 'unknown',
 '49.8',
 '7',
 '20.2',
 '36.5',
 '12.6',
 '39.3',
 '29.1',
 '15.5',
 '49.8',
 '37',
 '38.8',
 '14.8',
 '16.1',
 '28.9',
 '9.1',
 '22',
 '29.9',
 '7',
 '14.2',
 '28.3',
 'unknown',
 '37.1',
 '37.1',
 '37.1',
 '49',
 '32.7',
 '20.1',
 '28.3',
 '29.9',
 '11.8',
 '29.9',
 '14.7',
 '30.9',
 '31.7',
 '30.9',
 '11.9',
 '30.9',
 'unknown',
 '30.9',
 '48.7',
 '29.9',
 '36.9',
 '37.1',
 '21.9',
 '36.5',
 '31.7',
 '26',
 '32.7',
 '49',
 '19.9',
 '36.5',
 '54.6',
 '24.2',
 '30.9',
 '21',
 '20.1',
 '28.3',
 '20.1',
 '37.1',
 '12.9',
 '32.7',
 '29.9',
 '14.8',
 '14.7',
 '13.4',
 '22',
 '14.8',
 '21.6',
 '40.7',
 'unknown',
 '30.3',
 '18.4',
 '19.9',
 '25.2',
 '13.4',
 '42.5',
 '31.7',
 '12.2',
 '21.9',
 '49.8',
 '60.1',
 '29',
 '15.7',
 '9.3',
 '18.4',
 '42.5',
 '47.9',
 '28.9',
 '29.2',
 '47.9',
 '23.8',
 '36.4',
 '18.8',
 '29.9',
 '18.8',
 '32.8',
 '33.2',
 '22.2',
 '19',
 '43.6',
 '33.2',
 '18.2',
 '21.9',
 '40.7',
 '6',
 '5.5',
 '32.3',
 '48.7',
 '16.1',
 '18.8',
 '31.7',
 '31.7',
 '22',
 'unknown',
 '27.1',
 '16.1',
 '40.7',
 '46.2',
 '24.2',
 '14.5',
 '14.5',
 '14.8',
 '12.3',
 '21.9',
 'unknown',
 '21.2',
 '22',
 '15.7',
 '19.3',
 '35.4',
 '42.5',
 '35.4',
 '36.4',
 '24.7',
 '21',
 '16.2',
 '40.7',
 '21.3',
 '12.6',
 '24.6',
 '38.8',
 '42.5',
 '47.9',
 '33.4',
 '42.5',
 '26.3',
 '42.5',
 '46.2',
 '32.8',
 '35.4',
 '29.5',
 '19',
 '29.5',
 '32.7',
 '16.1',
 '39.7',
 '13.4',
 'unknown',
 '28.1',
 '28.1',
 '60.1',
 '35.4',
 '28.1',
 '11.2',
 '32.7',
 '32.7',
 '29.1',
 '29.9',
 '47.9',
 'unknown',
 '39.3',
 '39.3',
 '28.1',
 '38.8',
 '60.1',
 '8.2',
 '31.2',
 '35.4',
 '28.1',
 '8.9',
 '32.8',
 '31.6',
 '21.9',
 '25.2',
 '39.6',
 '21.3',
 '16.1',
 '21.2',
 '40.7',
 '49.8',
 '21.9',
 '25.2',
 '26.6',
 '11.9',
 '31.7',
 '49.8',
 '25.2',
 '11.8',
 '29',
 '25.4',
 '32.7',
 '26.3',
 '4.1',
 '4.1',
 '14.8',
 '20.2',
 '14.3',
 '15.3',
 '25.2',
 '37',
 '37',
 '26.6',
 '32.7',
 '31.7',
 '60.1',
 '14.7',
 '14.7',
 '8.9',
 '35.4',
 '22.2',
 'unknown',
 '14.7',
 '20.1',
 '31.6',
 '35.6',
 '36.4',
 '16.1',
 '18.2',
 '36.4',
 '18.4',
 'unknown',
 '26.6',
 '19',
 '29',
 '29',
 '25.2',
 '14.8',
 '20.1',
 '48.7',
 '14.3',
 '35.4',
 '36.4',
 '21.3',
 '16.4',
 '25.2',
 '32.7',
 '28.3',
 '29',
 '21.3',
 '42.5',
 '47.4',
 '21.6',
 '36.4',
 '42.5',
 '21.3',
 '29.2',
 '31.7',
 '42.5',
 '37.1',
 '54.6',
 '9.5',
 '36.5',
 '12.7',
 '47.9',
 '12.9',
 '29.9',
 '35.8',
 '16.4',
 '29.2',
 '47.4',
 '49.8',
 '37.1',
 '32.7',
 '32.7',
 '49',
 '7',
 '35.4',
 '49.8',
 '30.9',
 '32.3',
 '43.6',
 '22.2',
 '14.7',
 '35.4',
 '19',
 '18.8',
 '19.4',
 '25.4',
 '24.7',
 '49.8',
 '40.7',
 '36.4',
 '49.8',
 '29.9',
 '46.2',
 '37',
 '11.9',
 '32.7',
 '29.2',
 '28.9',
 '23.3',
 '38.8',
 '31.7',
 '35.3',
 '14.8',
 '31.7',
 '4.1',
 '32.3',
 '37.1',
 '57.9',
 '46.2',
 '31.9',
 '42.5',
 '36.4',
 'unknown',
 '26',
 '49',
 '29.2',
 '16.4',
 '28.1',
 '40.7',
 '11.3',
 '11.3',
 '30.9',
 '25.2',
 '32.8',
 '21.6',
 '29.9',
 '35.3',
 '30.9',
 '16.4',
 '35.8',
 '26.3',
 '22.6',
 '37',
 '32.7',
 '32.7',
 '31.7',
 '24.1',
 '21.6',
 '15.5',
 '24.1',
 '24.1',
 '14.8',
 '60.1',
 '60.1',
 '49',
 '32.7',
 '14.3',
 '29.2',
 '32.8',
 '32.8',
 '24.6',
 '54.6',
 '32.7',
 '32.7',
 '9.4',
 '12.6',
 '39.3',
 '22.2',
 '37.1',
 '37.1',
 '6',
 '37',
 '14.8',
 '31.2',
 '9.4',
 '14.8',
 '29.5',
 '32.8',
 '21',
 '20.2',
 '21.3',
 '9.7',
 '24.1',
 '31.2',
 '28.3',
 '29.9',
 '32.7',
 '16.4',
 '32.8',
 '46.2',
 '28.9',
 '32.8',
 '18.2',
 '28.1',
 '14.6',
 '47.4',
 '37',
 'unknown',
 '29.3',
 '26.6',
 '23.7',
 '35.4',
 '35.8',
 'unknown',
 '31.7',
 '28.9',
 '20.3',
 '36.6',
 '9.4',
 '16.1',
 '29.2',
 '9.4',
 '36.4',
 '35.3',
 '37.1',
 '35.4',
 '31.7',
 '11.8',
 '29.3',
 '29.3',
 '29.3',
 '29.3',
 '29.3',
 '16.1',
 '14.9',
 '28.1',
 '12.6',
 '39.6',
 '20.3',
 '28.3',
 '20.3',
 '38.8',
 '36.5',
 'unknown',
 '39.6',
 '38.8',
 '11.8',
 '6',
 '39.3',
 '57.9',
 '33.2',
 'unknown',
 '21.9',
 '33.2',
 '38.8',
 '13.2',
 '24.2',
 '49',
 '6',
 '28.1',
 '6',
 '35.1',
 '26',
 '26',
 '29.9',
 '31.2',
 '57.9',
 '22.6',
 '12.9',
 '12.7',
 '12.7',
 '20.2',
 '49.8',
 '37.1',
 '37.1',
 '24.1',
 '24.1',
 '31.2',
 '21.6',
 '21.6',
 '42.5',
 '32.7',
 '26.3',
 '16.1',
 '42.5',
 '38.8',
 '31.7',
 '14.7',
 '31.7',
 '11.8',
 '31.7',
 '36.4',
 '11.8',
 '31.7',
 '23.8',
 '10.7',
 '32.7',
 'unknown',
 '25.2',
 '11.8',
 '38.8',
 '27.1',
 '19',
 '18.2',
 '33.2',
 '27.5',
 '22.6',
 '38.8',
 '30.9',
 '31.7',
 '27.1',
 '24.2',
 '47.9',
 '27.1',
 '24.1',
 '14.7',
 '14.7',
 '32.3',
 '35.4',
 '35.6',
 '42.5',
 '32.7',
 '31.7',
 '40.7',
 '16.2',
 '47.9',
 '25.2',
 '20.2',
 '16.1',
 '14.7',
 '33.4',
 '8.2',
 '28.9',
 '57.9',
 '42.5',
 '36.6',
 '36.6',
 '18.2',
 '32.8',
 '57.9',
 'unknown',
 '28.1',
 '35.4',
 '28.1',
 '37.1',
 '6',
 '27.5',
 '15.5',
 '16.1',
 '32.7',
 '36.5',
 '20.2',
 '32.7',
 '32.7',
 '36.5',
 '39.7',
 '20.2',
 '39.6',
 '29.5',
 '57.9',
 '29.2',
 '33.4',
 '19',
 '9.7',
 '31.9',
 '21.6',
 '29.5',
 '25.2',
 '9.1',
 '32.8',
 '12.6',
 '21.6',
 '26.3',
 '43.6',
 '39.7',
 '36.4',
 '29.2',
 '12.2',
 '31.6',
 '18.2',
 '16.1',
 '31.2',
 '20.9',
 '31.7',
 '36.9',
 '14.7',
 '18.8',
 '32.7',
 'unknown',
 '29.3',
 '32.8',
 '20.3',
 '49.8',
 '20.3',
 '29.5',
 '29.5',
 '14.5',
 '38.8',
 '36.9',
 '42.5',
 '21.9',
 '31.6',
 '33.4',
 '31.7',
 '31.9',
 '29.5',
 '26.6',
 '26',
 '30.9',
 '14.2',
 '36.4',
 '49.8',
 '33.4',
 '33.4',
 '14.5',
 '19',
 '11.2',
 '39.6',
 '20.2',
 '16.4',
 '9.7',
 '29.5',
 '6',
 '35.3',
 '32.8',
 '42.5',
 '35.4',
 '20.3',
 '9.4',
 '30.9',
 '32.8',
 '28.3',
 '57.9',
 '49.8',
 '26.3',
 '36.6',
 '21.6',
 '21.3',
 '29.9',
 '13.4',
 '14.2',
 '16.2',
 'unknown',
 '24.6',
 '29.5',
 '36.5',
 '32.8',
 '20.9',
 '32.7',
 '14.3',
 '32.3',
 '18.2',
 '57.9',
 '29.9',
 '37',
 '40.7',
 '35.6',
 '29.5',
 '43.6',
 '23.7',
 '13.4',
 '20.3',
 '29.1',
 '21.9',
 '40.7',
 '25.2',
 '38.8',
 '40.7',
 '21.6',
 '18.4',
 '14.2',
 '42.5',
 '20.2',
 '28.1',
 'unknown',
 '36.4',
 '47.9',
 '36.4',
 '7',
 '32.7',
 '20.9',
 '49',
 '49',
 '39.3',
 '9.4',
 '37',
 '23.7',
 'unknown',
 '21.2',
 '28.9',
 '28.1',
 '9.7',
 '33.2',
 '21.6',
 '35.6',
 '25.2',
 '6',
 '25.2',
 '37.1',
 '25.2',
 '28.3',
 '25.2',
 '37.1',
 '25.2',
 '25.2',
 '37.1',
 '23.8',
 '36.5',
 '37.1',
 '24.7',
 '30.9',
 '49',
 '11.2',
 '6',
 '20.2',
 '49.8',
 '19.3',
 '28.1',
 '14.5',
 '32.7',
 '28.1',
 'unknown',
 '15.3',
 '18.2',
 '26.3',
 '39.6',
 '35.3',
 '16.1',
 '11.3',
 '9.7',
 '22',
 '46.2',
 'unknown',
 '14.8',
 '31.7',
 '28.9',
 '13.4',
 '30.3',
 '30.3',
 '42.5',
 '28.1',
 '47.4',
 '32.7',
 '32.7',
 '36.9',
 '37.1',
 '16.1',
 '32.7',
 '22',
 '25.2',
 '28.3',
 '42.5',
 '36.9',
 '22',
 '39.6',
 '31.9',
 '31.4',
 '40.7',
 '57.9',
 '39.6',
 '18.2',
 '30.3',
 '16.1',
 '49',
 '49',
 '49.8',
 '25.2',
 '21.2',
 '36.5',
 '33.2',
 '21.6',
 '47.9',
 '12.3',
 '30.3',
 '49.8',
 '32.7',
 '28.9',
 '28.9',
 '47.9',
 '18.8',
 '25.2',
 '29.2',
 '26.3',
 '19',
 '30.3',
 '29.2',
 '16.1',
 '9.4',
 '19.4',
 '29.5',
 '47.4',
 '29',
 '24.7',
 '21.6',
 '42.5',
 '28.3',
 '11.9',
 '22',
 '30.3',
 '30.3',
 '30.3',
 '30.3',
 '54.6',
 '16.4',
 '47.9',
 '13.2',
 '32.3',
 '42.5',
 '19.3',
 '32.7',
 '14.3',
 '32.8',
 '16.1',
 '21.9',
 '13.4',
 '47.9',
 '22',
 '14.3',
 '54.6',
 '29',
 '31.7',
 '28.1',
 '30.3',
 '20.9',
 '25.2',
 '57.9',
 '22',
 '22',
 '31.7',
 '28.9',
 '21.6',
 '46.2',
 '14.2',
 '21.6',
 '33.4',
 '9.1',
 '9.1',
 'unknown',
 '37.1',
 '37.1',
 '16.1',
 '26.3',
 '32.7',
 '9.3',
 '8.9',
 '35.6',
 '39.7',
 '12.9',
 '22',
 '31.7',
 '37.1',
 '16.4',
 '12.7',
 '32.7',
 '14.9',
 '14.9',
 '14.8',
 '33.2',
 '30.9',
 '22.6',
 '18.2',
 '37.1',
 '14.9',
 '32.7',
 '16.1',
 '47.9',
 '31.7',
 '19.9',
 '26.3',
 '49.8',
 '39.3',
 '29.5',
 '29.9',
 '21.6',
 '21.6',
 '24.2',
 '19',
 '39.7',
 '26.3',
 '39.3',
 '54.6',
 '29.5',
 '35.4',
 '39.3',
 '40.7',
 '25.2',
 '29.5',
 '14.5',
 '36.5',
 '47.9',
 '47.9',
 '47.9',
 '47.9',
 '47.9',
 '35.4',
 '33.4',
 '33.4',
 '40.7',
 '29.3',
 '13.4',
 '14',
 '14.9',
 '13.2',
 '29.9',
 ...]

In [25]:
# add the lowinc list to the MCI dataframe
MCI['lowinc_percent'] = lowinc_list

In [26]:
MCI

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,lowinc_percent
0,-79.425896,43.757346,1,GO-20141262074,2014-01-01 05:00:00+00:00,1998-06-01 04:00:00+00:00,2014,January,1,1,...,110,Administering Noxious Thing,Assault,38,Lansing-Westgate,38,Lansing-Westgate (38),-79.425896,43.757346,14
1,-79.350229,43.646293,2,GO-20141260701,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,200,B&E,Break and Enter,70,South Riverdale,70,South Riverdale (70),-79.350229,43.646293,20.2
2,-79.376497,43.666423,3,GO-20141260889,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,100,Assault,Assault,74,North St.James Town,74,North St.James Town (74),-79.376497,43.666423,47.9
3,-85.488744,0.000000,4,GO-20141260973,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,210,Theft Over,Theft Over,NSA,NSA,NSA,NSA,-85.488744,0.000000,unknown
4,-79.344839,43.678946,5,GO-20141261050,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,100,Assault,Assault,69,Blake-Jones,66,Danforth (66),-79.344839,43.678946,9.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323291,-79.301740,43.736102,323292,GO-20222554300,2022-12-31 05:00:00+00:00,2022-12-22 05:00:00+00:00,2022,December,31,365,...,220,B&E W'Intent,Break and Enter,119,Wexford/Maryvale,119,Wexford/Maryvale (119),-79.301740,43.736102,28.3
323292,-79.258639,43.828794,323293,GO-20222557893,2022-12-31 05:00:00+00:00,2022-12-31 05:00:00+00:00,2022,December,31,365,...,200,B&E,Break and Enter,130,Milliken,130,Milliken (130),-79.258639,43.828794,30.3
323293,-79.425645,43.701404,323294,GO-20222559486,2022-12-31 05:00:00+00:00,2022-12-22 05:00:00+00:00,2022,December,31,365,...,100,Assault,Assault,102,Forest Hill North,102,Forest Hill North (102),-79.425645,43.701404,15.7
323294,-79.385170,43.672134,323295,GO-20222557956,2022-12-31 05:00:00+00:00,2022-12-31 05:00:00+00:00,2022,December,31,365,...,100,Assault,Assault,98,Rosedale-Moore Park,98,Rosedale-Moore Park (98),-79.385170,43.672134,9.1
323295,-79.248081,43.736690,323296,GO-20222558010,2022-12-31 05:00:00+00:00,2022-12-31 05:00:00+00:00,2022,December,31,365,...,200,B&E,Break and Enter,138,Eglinton East,138,Eglinton East (138),-79.248081,43.736690,38.8

In [27]:
# create clean half for df
# Define the list of column names
columns = MCI.columns.tolist()[:18] + ['lowinc_percent']

# Create the clean half DataFrame
MCI_clean_half = MCI[columns]

In [28]:
MCI_clean_half

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOY,OCC_DOW,OCC_HOUR,lowinc_percent
0,-79.425896,43.757346,1,GO-20141262074,2014-01-01 05:00:00+00:00,1998-06-01 04:00:00+00:00,2014,January,1,1,Wednesday,12,1998.0,6,1.0,152.0,0,12,14
1,-79.350229,43.646293,2,GO-20141260701,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,Wednesday,3,2014.0,January,1.0,1.0,Wednesday,3,20.2
2,-79.376497,43.666423,3,GO-20141260889,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,Wednesday,4,2014.0,January,1.0,1.0,Wednesday,4,47.9
3,-85.488744,0.000000,4,GO-20141260973,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,Wednesday,4,2014.0,January,1.0,1.0,Wednesday,4,unknown
4,-79.344839,43.678946,5,GO-20141261050,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,Wednesday,4,2014.0,January,1.0,1.0,Wednesday,4,9.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323291,-79.301740,43.736102,323292,GO-20222554300,2022-12-31 05:00:00+00:00,2022-12-22 05:00:00+00:00,2022,December,31,365,Saturday,10,2022.0,December,22.0,356.0,Thursday,8,28.3
323292,-79.258639,43.828794,323293,GO-20222557893,2022-12-31 05:00:00+00:00,2022-12-31 05:00:00+00:00,2022,December,31,365,Saturday,3,2022.0,December,31.0,365.0,Saturday,3,30.3
323293,-79.425645,43.701404,323294,GO-20222559486,2022-12-31 05:00:00+00:00,2022-12-22 05:00:00+00:00,2022,December,31,365,Saturday,10,2022.0,December,22.0,356.0,Thursday,16,15.7
323294,-79.385170,43.672134,323295,GO-20222557956,2022-12-31 05:00:00+00:00,2022-12-31 05:00:00+00:00,2022,December,31,365,Saturday,4,2022.0,December,31.0,365.0,Saturday,4,9.1
323295,-79.248081,43.736690,323296,GO-20222558010,2022-12-31 05:00:00+00:00,2022-12-31 05:00:00+00:00,2022,December,31,365,Saturday,4,2022.0,December,31.0,365.0,Saturday,4,38.8

In [29]:
#load csv
mci_1830 = pd.read_csv('C:\\Users\\Admin\\Midterm-Project\\MCIClean1830.csv')

In [30]:
mci_1830.shape

(323296, 14)

In [44]:
#join Mohammed's cleaned half to my cleaned half


complete_df = pd.merge(MCI_clean_half, mci_1830, left_index=True, right_index=True, how="outer")

In [45]:
complete_df.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,Longtiude,Latitude
0,-79.425896,43.757346,1,GO-20141262074,2014-01-01 05:00:00+00:00,1998-06-01 04:00:00+00:00,2014,January,1,1,...,1480,110,Administering Noxious Thing,Assault,38,Lansing-Westgate,38,Lansing-Westgate (38),-79.425896,43.757346
1,-79.350229,43.646293,2,GO-20141260701,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,2120,200,B&E,Break and Enter,70,South Riverdale,70,South Riverdale (70),-79.350229,43.646293
2,-79.376497,43.666423,3,GO-20141260889,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,1430,100,Assault,Assault,74,North St.James Town,74,North St.James Town (74),-79.376497,43.666423
3,-85.488744,0.000000,4,GO-20141260973,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,2130,210,Theft Over,Theft Over,NSA,NSA,NSA,NSA,-85.488744,0.000000
4,-79.344839,43.678946,5,GO-20141261050,2014-01-01 05:00:00+00:00,2014-01-01 05:00:00+00:00,2014,January,1,1,...,1430,100,Assault,Assault,69,Blake-Jones,66,Danforth (66),-79.344839,43.678946

In [39]:
complete_df.info

<bound method DataFrame.info of                 X          Y  OBJECTID EVENT_UNIQUE_ID  \
0      -79.425896  43.757346         1  GO-20141262074
1      -79.350229  43.646293         2  GO-20141260701
2      -79.376497  43.666423         3  GO-20141260889
3      -85.488744   0.000000         4  GO-20141260973
4      -79.344839  43.678946         5  GO-20141261050
...           ...        ...       ...             ...
323291 -79.301740  43.736102    323292  GO-20222554300
323292 -79.258639  43.828794    323293  GO-20222557893
323293 -79.425645  43.701404    323294  GO-20222559486
323294 -79.385170  43.672134    323295  GO-20222557956
323295 -79.248081  43.736690    323296  GO-20222558010

                     REPORT_DATE                  OCC_DATE  REPORT_YEAR  \
0      2014-01-01 05:00:00+00:00 1998-06-01 04:00:00+00:00         2014
1      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
2      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
3      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
4      2014-01-01 05:00:00+00:00 2014-01-01 05:00:00+00:00         2014
...                          ...                       ...          ...
323291 2022-12-31 05:00:00+00:00 2022-12-22 05:00:00+00:00         2022
323292 2022-12-31 05:00:00+00:00 2022-12-31 05:00:00+00:00         2022
323293 2022-12-31 05:00:00+00:00 2022-12-22 05:00:00+00:00         2022
323294 2022-12-31 05:00:00+00:00 2022-12-31 05:00:00+00:00         2022
323295 2022-12-31 05:00:00+00:00 2022-12-31 05:00:00+00:00         2022

       REPORT_MONTH  REPORT_DAY  REPORT_DOY  ... UCR_CODE  UCR_EXT  \
0           January           1           1  ...     1480      110
1           January           1           1  ...     2120      200
2           January           1           1  ...     1430      100
3           January           1           1  ...     2130      210
4           January           1           1  ...     1430      100
...             ...         ...         ...  ...      ...      ...
323291     December          31         365  ...     2120      220
323292     December          31         365  ...     2120      200
323293     December          31         365  ...     1430      100
323294     December          31         365  ...     1430      100
323295     December          31         365  ...     2120      200

                            OFFENCE     MCI_CATEGORY  HOOD_158  \
0       Administering Noxious Thing          Assault        38
1                               B&E  Break and Enter        70
2                           Assault          Assault        74
3                        Theft Over       Theft Over       NSA
4                           Assault          Assault        69
...                             ...              ...       ...
323291                 B&E W'Intent  Break and Enter       119
323292                          B&E  Break and Enter       130
323293                      Assault          Assault       102
323294                      Assault          Assault        98
323295                          B&E  Break and Enter       138

          NEIGHBOURHOOD_158 HOOD_140         NEIGHBOURHOOD_140  Longtiude  \
0          Lansing-Westgate       38     Lansing-Westgate (38) -79.425896
1           South Riverdale       70      South Riverdale (70) -79.350229
2       North St.James Town       74  North St.James Town (74) -79.376497
3                       NSA      NSA                       NSA -85.488744
4               Blake-Jones       66             Danforth (66) -79.344839
...                     ...      ...                       ...        ...
323291     Wexford/Maryvale      119    Wexford/Maryvale (119) -79.301740
323292             Milliken      130            Milliken (130) -79.258639
323293    Forest Hill North      102   Forest Hill North (102) -79.425645
323294  Rosedale-Moore Park       98  Rosedale-Moore Park (98) -79.385170
323295        Eglinton East      138       Eglinton East (138) -79.248081

         Latitude
0       43.757346
1       43.646293
2       43.666423
3        0.000000
4       43.678946
...           ...
323291  43.736102
323292  43.828794
323293  43.701404
323294  43.672134
323295  43.736690

[323296 rows x 33 columns]>

In [48]:
complete_df = pd.merge(MCI_clean_half, mci_1830, left_index=True, right_index=True, how="outer")

In [49]:
complete_df.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
       'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW',
       'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW',
       'OCC_HOUR', 'lowinc_percent', 'Unnamed: 0', 'DIVISION', 'LOCATION_TYPE',
       'PREMISES_TYPE', 'UCR_CODE', 'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY',
       'HOOD_158', 'NEIGHBOURHOOD_158', 'HOOD_140', 'NEIGHBOURHOOD_140',
       'Longtiude', 'Latitude'],
      dtype='object')

In [50]:
#remove unnecessary merge details column created during outer join
complete_df = complete_df.drop('Unnamed: 0', axis=1)

In [51]:
complete_df.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
       'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW',
       'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW',
       'OCC_HOUR', 'lowinc_percent', 'DIVISION', 'LOCATION_TYPE',
       'PREMISES_TYPE', 'UCR_CODE', 'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY',
       'HOOD_158', 'NEIGHBOURHOOD_158', 'HOOD_140', 'NEIGHBOURHOOD_140',
       'Longtiude', 'Latitude'],
      dtype='object')



> connecting to SQL to view and further clean DF there if necessary

In [52]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [53]:
#load dfs as databses and drop duplicate columns in sql , then save as csv

#Create a connection to the SQLite database
conn = sqlite3.connect('my_database.db')

#Create a cursor object to execute SQL queries
cursor = conn.cursor()

#Upload the 1st half of DataFrame to the 'MCI_17' table in the SQLite database
complete_df.to_sql(name='full_db', con=conn, if_exists='replace', index=False)


#Commit the changes to the database
conn.commit()

alter_table_query = """
    ALTER TABLE full_db DROP COLUMN x;
    ALTER TABLE full_db DROP COLUMN y;
"""
conn.executescript(alter_table_query)


# Read the 'full_db' table from the database into a DataFrame
full_db = pd.read_sql_query("SELECT * FROM full_db", conn)

# Save the DataFrame as a CSV file
full_db.to_csv('full_db.csv', index=False)